[Unit]
Description=CutiePi Shell
After=systemd-user-sessions.service

[Service]
User=pi
WorkingDirectory=/home/pi
ExecStart=/opt/cutiepi-shell/cutiepi-shell
Restart=always

[Install]
WantedBy=multi-user.target
